.container{
    height: 44;
    width: 44;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 2px 2px grey;
    border-radius: 8px;
    padding: 10px;
    background-color: white;
}

.container:hover{
    background-color: rgb(236, 236, 236);
}

.icon{
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}