.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.label {
  display: inline;
  height: auto;
  width: auto;
  font-size: 14px;
  color: #555555;
  user-select: none; /* standard */
  -webkit-user-select: none; /* Chrome, Safari, Edge */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -webkit-touch-callout: none; /* iOS Safari */
}
