/**
 * Outer container for the entire date selection component
 */
.large-container {
  width: 100%;
  position: relative;
  max-width: 185px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/**
 * Top label (e.g., "Start Date")
 */
.top-container {
  font-size: 14px;
  font-weight: 500;
  color: #555;
}

/**
 * Bottom row containing arrows and date
 */
.bottom-container {
  height: 48px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #fff;
  user-select: none;        /* Standard */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */
  overflow: hidden;
}

/**
 * Center date container
 */
.date-container {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.weekday-text-container {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 10px;
  color: #888;
  z-index: 2;
  pointer-events: none;
}

/**
 * Year text (top-right corner)
 */
.year-text-container {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 10px;
  color: #888;
  z-index: 2;
  pointer-events: none;
}

/**
 * Date text
 */
.date-text-container {
  font-size: 24px;
  font-weight: 600;
  color: #222;
  z-index: 1;
}

/**
 * Arrow container
 */
.date-back, .date-forward {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.date-back:hover, .date-forward:hover {
  background-color: rgba(130, 130, 243, 0.5);
  
}

/**
 * Date Picking container
 */
.date-picker {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  box-Shadow: 0 4px 12px rgba(0,0,0,0.15);
  background: #fff;
}

/**
 * Tablets
 */
@media (max-width: 768px){
  .year-text-container{
    display: none;
  }

  .weekday-text-container{
    display: none;
  }

  .date-container {
    padding-top: 0px;
  }
}

/**
 * Small phones
 */
@media (max-width: 480px){

}