.mealContainer{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border: 2px solid rgb(130, 130, 243);
    border-radius: 10px;
    background-color: rgb(130, 130, 243);
}

.mealContainer:hover{
    box-shadow: 2px 4px;

}

.mealName{
   
}