.grid-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  row-gap: 10px;
  padding: 10px;
}

.top-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between-;
  align-items: center;
  gap: 10px;
}

.bottom-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.left-container {
  flex: 1;
}

.right-container {
  display: flex;
  justify-content: end;
  flex: 1;

}
