.grid-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  row-gap: 10px;
}

.grid-item-1 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item-2 {
  display: flex;
  justify-content: center;
  width: 100%;
}
