.plan-container {
  display: block;
  flex-direction: row;
  margin: 10px;
}

.planContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.dateView {
  display: flex;
  gap: 16px;
}

.datePlan {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

.searchSelection {
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
  position: static;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mealsList {
  margin-top: 8px;
}

@media (max-width: 1500px) {
  .datePlan {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1300px) {
  .datePlan {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1100px) {
  .datePlan {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .datePlan {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  .datePlan {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .datePlan {
    grid-template-columns: repeat(1, 1fr);
  }
}
